body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:15px ;
    margin-bottom: 20px;
}

.button {
    background-color: blue;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 15px 35px 15px 15px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top:15px ;
    margin-bottom:15px ;
    color: white;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
   display: flex;
}

article {
    background-color: white;
    padding:15px ;
    width: 400px;
    margin:15px;
}

.article-but {
    text-decoration: none;
    background-color: blue;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: blue;
    padding:15px ;
    color: white;
}

footer a {
    margin-right:15px ;
}

footer p {
    font-size: 24px;
    display: flex;
}
